
/*all screens*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

*::selection {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #f65a03;}

html{
    font-size: 18px;}

.topbar {
    display: block;
    position: sticky !important; ;
    top: 0  !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #ffffff;
}

body{
    font-family: Consolas, Monaco, sans-serif;
    line-height: 1.5rem;
    background:
            radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 0.4rem, rgba(96, 16, 48, 0) 11px) 0 0.4rem,
            radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 0.4rem, rgba(96, 16, 48, 0) 11px),
            #8a3;
    background-size: 20px 20px;}

main{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    background-color: #ffffff;
    padding: 1.4rem;
    border-radius: 1.4rem;
    box-shadow: 6px 6px 6px rgb(51, 53, 56);

    background-repeat: no-repeat;
    background-position: right 40px;
    text-shadow: rgba(0, 0, 0, 0.4) .1px .1px .5px;}

nav {
    text-align: center;
    display: block;
    border-bottom: 0.8rem  solid;
    color: #f65a03;}

nav ul {
    padding: 0 !important;
    display: inline-block;
}

nav li {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    line-height: 1rem ;
    padding-top: 0.2rem ;
    padding-bottom: .2rem;

}

nav li:hover{
    background-color: #87a933;
    border-radius: 0.5rem;
    }


section {
    background-color: #333538;
    padding: 2rem;
    padding-top: .5rem;
    margin: 1.5rem;
    color: #fdfdfd;
    box-shadow: rgb(0, 0, 0) 1px 1px 0.4rem 0 inset ;
    background-image: url(../pictures/vlieger.png);
    background-repeat: no-repeat;
    background-position: right;
}

section a{
    color: #87a933;
}

figure{  background-color: #333538;
    display: inline-block;
    padding: 2rem;
    padding-top: .5rem;
    color: #fdfdfd;
    box-shadow: rgb(0, 0, 0) 1px 1px 0.4rem 0 inset ;
    width: 32%;
    margin: 1rem auto;
    margin-top: 0;
    outline: 0.4rem solid rgba(255, 255, 255, 0.39);
    outline-offset: -1rem;
}

figcaption{
    text-align: justify;
}

div#skyline {
    background-image: url(../pictures/voetgangersbrug.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    height: 6rem;
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    box-shadow: rgb(0, 0, 0) 1px 1px 20px 0 inset ;
    max-width: 100%;
    margin: 0rem auto;}

h1, h2, h3 {
    font-family: Josefin Sans, Consolas, sans-serif;
}

h1 {text-align: center;}

h1, h2 {
    color: #f65a03;
    padding: .5rem;
    margin-bottom: .5rem;}

h3 {text-align: center;
    margin-top:  1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #87a933;
    background-color: rgba(255, 255, 255, 0.06);
border-radius: 1rem}

nav h2{
    display: none;}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #87a933;}


.center{
    text-align: center;}

.hoofdinglinks{
    text-align: left;
    width: 50%;
    background-color: rgba(94, 86, 86, 0.94);
}
.rechts {text-align: right}

th{
    text-transform: uppercase;}

td, th {border: 1px solid #87a933;
    }

th{
    text-align: left;
    padding-left:  1rem;
    padding-right: 1rem;
}

#lift {
    background-image: url(../pictures/lift.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}


th i {
    display: inline;
    width: 2rem;
    text-align: right;
    margin-right: auto;
    margin-left: 1rem;
}

li {list-style-type: "✓ ";
    list-style-position: inside;
    line-height: 1.5rem;
    padding-left: 1rem;}

li:hover{
    color: #a2968f;}

ul{
    padding-left: 1rem;}

ul:first-child{
    padding-top: .5rem;
}
ul:last-child{
    padding-bottom: .5rem;}

img{
    background-color: #fdfdfd;
    border-radius: 50%;
    box-shadow: .5rem .5rem .6rem rgba(150,150,150,.5);
    max-width: 100%;
    height:auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    margin: 1rem auto;
    outline: rgb(10, 10, 10) double  1px ;
    display: block;
}

.kader {
    border: 1px solid rgba(23, 22, 22, .5);
    background-color: #efebeb;
    border-radius: 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    width: 200px;
    height: 300px;
    padding: 1.5rem;
    margin: 0;
    outline: none;}

.accent{
    font-weight: bold;
    color: #ea6737;
}

.imgklein{
       width: 35%;
       height: auto;
    margin-right: 2rem;}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}


p{line-height: 1.5rem;
    margin: .5rem;}

footer{
    font-weight: bold;
    text-align: right;
    margin-top: 2rem;
    font-size: .8rem;}

footer p {
    margin: 0;
    padding: 0;
    line-height: 1rem;}

caption{
    caption-side: bottom;
    margin-top: 1rem;
    font-size: .9rem;
    text-align: left;
    border-top:  1px solid #87a933;}

span ul {
    display: inline-block;
    margin-bottom: 1.5rem;
}

.bezet {
    background-color: rgba(255, 19, 19, 0.33);
}

.vrij {
    background-color: rgba(85, 115, 8, 0.33);
}

.soortkamerfout {
    display: none;
}

.clearFloat{
    clear: both;
}

div.floatRight {
    border: 1px solid #fdfdfd;
    padding-right: 1.5rem;
    margin-left: 1.5rem ;
    margin-bottom: .5rem;
    box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.71);
}

/*Medium*/
@media all and (max-width: 1036px) {

    body{
        min-width: 640px;
        background:
                radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #87a933 0.4rem, rgba(96, 16, 48, 0) 11px) 0 0.4rem,
                radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #87a933 0.4rem, rgba(96, 16, 48, 0) 11px),
                #692833;
        background-size: 20px 20px;
    }

    main{max-width: 640px}

    figure{
        display: inline-block;
        width: 100%;
    }

    img {
        width: 30%;
        height: auto;
    }

    html{
        font-size: 16px;}

    .clearFloatMedium {
        clear: both;
    }

}

/*klein*/
@media all and (max-width: 640px) {

    html{
        font-size: 14px;}
    body{
        font-family: Consolas, Monaco, sans-serif;
        min-width: 400px;
         }

    main{max-width: 640px;
        border-radius: 0;
        margin: 0;
        padding: .5rem;
        background-color: #fdfdfd;
    }

    h1 {color: #000000;
        padding-bottom: 0;
        background-color: #fff;
    }
    
    section {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1px;
        margin-bottom: 1px;
        box-shadow: none;
    }

    img {
        display: none;}

    figcaption{
        text-align: left;
    }

    div#skyline {
        border-radius: 0;
        margin: 0 auto;
        padding: 0.2rem;
    }

    footer {display: none}
    
    nav {
        background-color: #fdfdfd;
        border-bottom: 0;
    }

    .foto{
        display: inline;
        width: 25%;
        height: auto;
    }

    .clearFloatMedium {
        clear: none;
    }

}